<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tandem</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Tandem</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Developer centric screen sharing.</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">
                    Not all screen share tools are created equal.
                    Tandem is built to serve developers who pair remotely.
                    Whether you're 1000 miles apart or sitting side-by-side, on-site behind a military grade firewall or
                    at a cafe, we have you covered.
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Tandem connects developers.</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Tandem wants you to be connected.
                    Use our SaaS offering or run on your hardware.
                    Don't let firewalls and opening ports get in your way.
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white" id="download">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="mb-4">Try our alpha today!</h2>

                <div style="margin-bottom: 1.5rem; margin-left: -15px; margin-right: -15px;">
                    <code style="padding: 1rem; white-space: nowrap;">brew cask install ridetandem/tap/tandem</code>
                </div>

                <div>
                    <a class="btn btn-light btn-xl sr-button"
                       href="https://github.com/RideTandem/tandem-releases/releases/download/v0.3.1/Tandem-0.3.1.dmg">Download
                        Tandem-0.3.1.dmg</a>
                </div>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    We encourage you to try Tandem.
                    We love feedback, so let us know what troubles you encounter when remote pairing and we will try to
                    help.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Developer screen sharing done right</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-keyboard-o text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">ALL THE KEYS</h3>
                    <p class="text-muted mb-0">We send every keystroke and combination over the wire. Cmd+tab? No
                        problem!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-headphones text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">B.Y.O. A/V</h3>
                    <p class="text-muted mb-0">FaceTime; Appear.in; Slack; Hangouts; Zoom; cellphone; you pick. Leave the screen to us.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-shield text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">SaaS or Internal</h3>
                    <p class="text-muted mb-0">Concerned with privacy? Run Tandem internally and your traffic wil never
                        touch the internet.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">By Devs, For Devs</h3>
                    <p class="text-muted mb-0">We remote pair for a living. All the current tools are sub-par, so we
                        created Tandem.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Pricing</h2>
                <hr class="my-4">
                <p class="mb-5">
                    During alpha, Tandem is free to use personally.
                    For commercial use or internal/on-premise pricing, contact us.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-user fa-3x mb-3 sr-contact"></i>
                <p class="text-muted">
                    Personal
                </p>
                <h3 class="mb-3">Free</h3>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-briefcase fa-3x mb-3 sr-contact"></i>
                <p class="text-muted">
                    Enterprise
                </p>
                <h3 class="mb-3">Contact Us</h3>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="my-4">
                <p class="mb-5">
                    We want to help all developers connect and pair effectively.
                    If your situation needs help, we want to hear from you.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mr-auto ml-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:tandem@noizwaves.com">tandem@noizwaves.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>

</body>

</html>
